.card {
    margin: 20px;
    border: 1px solid #fb500b;
    width: 20vw;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    .card__date {
        padding: 20px;
        color: #fb500b;
        font-weight: bold;
    }
    .card__title {
        font-size: 30px;
        font-weight: bold;
    }
    .card__description {
        text-align: justify;
        padding: 20px 20px;
    }
    .card__tags {
        ul {
            list-style: none;
            padding: 0;
            span {
                padding: 10px;
                color: #fb500b;
                // background: #fb500b;
                margin: 0 10px;
                border-radius: 2px;
            }
        }
    }
    .card__actions {
        background: #fb500b;
        margin: 0;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
            padding: 10px;
            width: 30%;
            border: none;
            background: #fb500b;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
            text-transform: uppercase;
            &:hover {
                background-color: #fff;
                color: #fb500b;
            }
        }
    }
}