@import "./Vars.scss";
@import "./Media.scss";
body {
    margin: 0;
    font-family: $theme-font;
}

a {
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.padding-top-80 {
    padding-top: 80px;
}

.container-98-center {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-family: "alliance", mono, sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 20px;
    height: 56px;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
    color: #fff;
    transition: background .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
}